<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Bora Ajudar</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/business-casual.min.css" rel="stylesheet">

  </head>

  <body>

    <h1 class="site-heading text-center text-white d-none d-lg-block">
      <!--span class="site-heading-upper text-primary mb-3">Um super asilo</span>
      <span class="site-heading-lower">Nossa Senhora de Fátima</span-->
        <img src='img/logo.png' />
    </h1>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark py-lg-4" id="mainNav">
      <div class="container">
        <a class="navbar-brand text-uppercase text-expanded font-weight-bold d-lg-none" href="#">Asilo Melhor Idade</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav mx-auto">
            <li class="nav-item active px-lg-4">
              <a class="nav-link text-uppercase text-expanded" href="index.html">Início
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item px-lg-4">
              <a class="nav-link text-uppercase text-expanded" href="about.html">Sobre</a>
            </li>
            <li class="nav-item px-lg-4">
              <a class="nav-link text-uppercase text-expanded" href="products.html">Campanhas</a>
            </li>
            <li class="nav-item px-lg-4">
              <a class="nav-link text-uppercase text-expanded" href="store.html">Contato</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <section class="page-section about-heading">
      <div class="container">
        <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="img/about-menor.jpg" alt="">
        <div class="about-heading-content">
          <div class="row">
            <div class="col-xl-9 col-lg-10 mx-auto">
              <div class="bg-faded rounded p-5">
                <h2 class="section-heading mb-4">
                  <span class="section-heading-upper">Respeito e Dignidade</span>
                  <span class="section-heading-lower">Morada da Melhor Idade</span>
                </h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur dolor sapien, tincidunt vitae leo sed, vestibulum varius velit. Pellentesque in nulla augue. Curabitur tincidunt quam lacus, vel sollicitudin odio euismod non. Phasellus imperdiet arcu nec tincidunt pretium. Suspendisse interdum risus at risus imperdiet, et egestas purus facilisis. Nullam vehicula nisi at commodo aliquam. Etiam eu pellentesque purus, ut ultricies lectus. Nulla facilisi. Morbi id pellentesque est, quis pretium libero. Praesent pulvinar nulla ut metus efficitur lacinia. Phasellus lacus urna, aliquet non vulputate et, rutrum at sem.</p>
                <p>Nunc blandit eros vitae leo sodales, eu lobortis urna porttitor. Sed laoreet mauris neque, ac laoreet augue consequat nec. Aliquam tristique venenatis maximus. In nec dui bibendum, suscipit odio interdum, mollis libero. Fusce hendrerit est leo, id finibus quam tempor nec. Vestibulum convallis vulputate tortor. Sed elementum fermentum sem et accumsan. In tempor facilisis lacus nec faucibus. Pellentesque nec nisi eget ipsum lacinia dictum a sodales arcu. In vitae nisl turpis. Nunc ullamcorper, erat et ultricies tincidunt, felis enim semper augue, a pretium orci nibh ut augue. Etiam at ligula leo. Nullam auctor risus nisi, at euismod libero mattis consectetur. Cras vulputate nisl in est ornare finibus. Curabitur feugiat at elit nec scelerisque. Donec placerat mauris vel ex aliquet gravida.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <footer class="footer text-faded text-center py-5">
      <div class="container">
        <p class="m-0 small">
          <a href='https://www.devpleno.com/software-do-bem'><img src='img/software-do-bem-logo-320x128.png' /></a><br />
          Desenvolvido durante o Hands-on ReactJS do DevPleno por Tulio Faria. Saiba mais.
        </p>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  </body>

</html>
